.modalContent {
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .logosuperpose {
    width: 50px; /* Taille réduite */
    height: auto;
    display: block;
    margin: 0 auto 10px;
    background-color: black;
  }
  
  .bagroundModal {
    background-color: black !important;
  }