.trendsContainer{
    height: 100vh;
    width: 30vw;
}

.titreTrends{
    color: white;
    padding-left: 20px;
}

.divTrend{
    color: white;
    border: solid gray;
    width: 95%;
}

.hashtagCount{

    color: gray;
}