.main{
    background-color: black;
}

.message{
    color: white;

}

.tweet{
    background-color: #3498db;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin-left:20px;
}